
/* The Modal (background) */
.modal {
 /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
  &__open {
    visibility: visible;
    opacity: 1;
    transition: all 300ms ease-in-out;
  }

  &__close {
    visibility: hidden;
    opacity: 0;
    transition: all 400ms ease-in-out;
    transition-delay: 100ms;
  }

  .modal-display {

    align-items: center;
    position: absolute;
    background-color: #fefefe;
    /*margin: auto; */
    padding: 20px;
    top: 0;
    width: 100%;
    transform: scale(0);
  
    &__open {
      visibility: visible;
      opacity: 1;
      transition: all 300ms ease-in-out;
      transform: scale(1);
      transition-delay: 100ms;
    }
  
    &__close {
      visibility: hidden;
      opacity: 0;
      transition: all 400ms ease-in-out;
      transform: scale(0);
    }


    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }


  .close:hover,
  .close:focus {
    cursor: pointer;
  }
}


