.card {
  padding: 5px;

  &-image {
    overflow: hidden;
    border-radius: 24px;

    img { 
      object-fit: cover;
      border-radius: 24px;
      width: 100%;
      height: 269px;
      transition: all 1200ms ease-in;
      transition-delay: 400ms;
    }

    &:hover img, 
    &:focus img {
      transform: scale(1.3) translate(-8%, -3%); 
      transition-delay: 200ms;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    gap: 1em;

    .rate {
      display: flex;
      gap: 2px;
      align-items: center;
      
      &-icon {
        color: #EB5757;
      }
    }
  }

  @media only screen and (min-width: 800px) {
    // width: 350px;
  }
}
